// Media queries
$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 1024px;

// Colors
$blur-background: rgba(0, 0, 0, 0.5);
$red-color: #d85c5c;
$primary-color: #333;
$secondary-color: #999;
$blur-color: #444;
$white-color: #fafafa;
$border-color: #ccc;
$time-color: #f1f1f1c9;

// Fonts
$primary-font: "Lato", sans-serif;
